@model List<UserRoleViewModle>
@{
    ViewData["Title"] = "ModifyUsersInRole";
}

<h1>Modify Users InRole</h1>

<form method="post" asp-action="ModifyUsersInRole" asp-controller="Account"> 
    <div class="card">
        <div class="card-header"> User in this role</div>
        <div class="card-body">
           @for (int i = 0; i < Model.Count; i++)
            {
                @Html.HiddenFor(m=>Model[i].UserId)
                @Html.HiddenFor(m=>Model[i].UserName)
                <input asp-for="@Model[i].IsSelected" /> @Model[i].UserName <br />
            }

        </div>
        <div class="card-footer">
            <input type="submit"value="Save"class="btn btn-success"/>
            <a asp-action="RolesList" class="btn btn-warning">Cansle</a>
        </div>
    </div>
</form>